<div *ngIf="organization$ | async as organization">
  <div class="container">
    <!-- Img and Title here -->
    <div class="titleAndImageContainer">
      <img mat-card-image src="{{organization.image}}" style="border-radius: 50px; margin-right: 30px;" class="orgImg">
      <mat-card-title style="font-size: 40px;">{{ organization.name }}</mat-card-title>
    </div>
    <!-- Tab views here -->
    <mat-tab-group [(ngModel)]="tab" aria-label="Font Style" class="tabContainer" animationDuration="0ms">
      <!-- Details and Registration Component -->
      <mat-tab label="Details/Registration" class="tab">
        <ng-template matTabContent>
          <app-details-and-registration></app-details-and-registration>
        </ng-template>
      </mat-tab>
      <!-- Event Component -->
      <mat-tab label="Events" class="tab">
          <app-events></app-events>
      </mat-tab>
      <!-- Member Component -->
      <mat-tab label="Members" class="tab">
        <ng-template matTabContent>
          <app-members></app-members>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>