.container{
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60% 120%;
    background-position-x: 70%;
    background-position-y: 7.5vh;
    min-height: 90vh
}

.organizationDetailsContainer{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    align-items: center;
    display:flex;
    margin-left: 4.5%;
    margin-right: 4%;
    border-radius: 30px;
    border-width: 5px;
    background-color: #3e3e3e;
}

.titleAndImageContainer{
    margin: 1%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orgImg {
    width: 7%;
    height: 7%;
    margin: 2%;
}