<div class="container">
  <h2>Add Club</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" id="name" name="name" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label for="overview">overview</label>
      <input id="overview" name="overview" class="form-control" formControlName="overview">
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input id="description" name="description" class="form-control" formControlName="description">
    </div>

    <div class="form-group">
      <label for="image">image</label>
      <input type="url" id="image" name="image" class="form-control" formControlName="image">
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>
