.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
}

.orgCardAdminContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
}
.orgCardContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.manu{
    margin-left: auto;
}

.orgCardContainer:hover{
    cursor: pointer;
}

.orgCardAdminContainer:hover{
    cursor: pointer;
}

.orgCard {
    margin-right: 20px;
    border-radius: 20px;
    width: 100%;
    transition: all .5s ease;
}

.orgCard:hover {
    background-color: #4a4a4a;
    transform: translate3D(0, -1px, 0) scale(1.01);
}

.orgImg {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.orgCardsContainer{
    background-image: url("/assets/background.png");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}