<div class="eventsContainer">
    <mat-card *ngFor="let event of events$ | async" class="eventCard">
      <div routerLink="/organizations/{{event.name}}">
        <img mat-card-image src="{{event.image}}" style="border-radius: 50px;" class="orgImg">
      </div>
      <div>
        <mat-card-header>
          <mat-card-content>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card-header>
      </div>
    </mat-card>
  </div>